*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.nav_link ul li a{
    text-decoration: none;
    color: black;
}
.nav_logo_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.nav_link ul li a:hover{
    background-color: white;
    color: lightgreen;
}
.button button{
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    width: 70px;
    border: 5px solid lightgreen;
    border-radius: 7px;
    padding: 5px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;

}
.button button:hover{
    background-color: lightgreen;
    color: black;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.hero_video{

height: 90vh;
padding: 20px;

}
.hero_video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card{
background-color: blue;
width: 300px;
color: white;
position: relative;
height: 400px;
border: 15px;
border-radius: 15px;
padding: 20px;

}
.card h2,h3{
    font-size: 50px;
}
.card h3{
    position: relative;
    bottom: 30px;
}
.card ul li{
    position: relative;
    bottom: 30px;
    list-style-type: none;
}
.arrow_div{
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.card_div{
    background-color: lightgreen;
    width: 300px;
    color: darkgreen;
    position: relative;
    height: 400px;
    border: 15px;
    border-radius: 15px;
    padding: 20px;
    
}
.card_div h2,h3{
    font-size: 50px;
}
.card_div h3{
    position: relative;
    bottom: 20px;
}
.card_div ul li{
    position: relative;
    bottom: 20px;
    list-style-type: none;
}
.hero_card{
    background-color: lightsteelblue;
    width: 300px;
    color: white;
    position: relative;
    height: 400px;
    border: 15px;
    border-radius: 15px;
    padding: 20px;
    
}
.hero_card h2,h3{
    font-size: 50px;
}
.hero_card h3{
    position: relative;
    bottom: 20px;   
}
.hero_card ul li{
    position: relative;
    bottom: 20px;
    list-style-type: none;
}
.card_content{
    display: flex;
gap: 20px;
justify-content: center;
padding: 20px;
}
.card_careem{
    background-color: lightgreen;
    margin: 90px;
    justify-content: center;
    border-radius: 20px;
    border: 20px;

}
.card_careem h1{
    position: relative;
    top: 70px;
}
.card_careem img{
    position: relative;
    top: 20px;
}
.card_image img{
display: flex;
position: relative;
bottom: 100px;
left: 900px;
}
.card_logo button{
    background-color: lightgreen;
    color: black;
    padding: 5px 5px;
    border: none;
    font-weight: bold;
    font-size: large;
    margin: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.card_logo button:hover{
    background-color: lightgreen;
    color: black;
    transition: all 0.5 ease-in-out;
    transform: scale(1.1);
}
.card_heading{
    display: flex;
gap: 30px;
justify-content: space-around;
align-items: center;
margin-top: 50px;

}
.card_logo p{
    width: 500px;
}
.container{
    background-color: lightgreen;
    border: 50px;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 200px;
}
.container img{
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 200px;
    text-align: center;
}
.container button{
   background-color: white;
   color: black;
   padding: 5px 5px;
   border: none;
   font-weight: bold;
   font-size: large;
   margin: 10px  0px;
   border-radius: 10px;
   cursor: pointer;
}
.container p{
    width: 300px;
    margin-right: 300px;
}
.container button:hover{
    background-color: white;
    color: black;
    transition: all 0.5 ease-in-out;
    transform: scale(1.1);
}
.container_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container_logo button{
    background-color: lightgreen;
    color: black;
padding: 5px 5px;
border: none;
font-weight: bold;
font-size: large;
margin: 10px 0px;
border-radius: 10px;
cursor: pointer;
}
.container_logo button:hover{
    background-color: lightgreen;
    color: black;
    transform: scale(1.1);
    transition: all 0.5 ease-in-out;
}
.container_logo p{
    width: 400px;
}
.card_heading p{
    width: 300px;

}
.card_heading button{
    background-color: lightgreen;
    color: black;
    padding: 5px 5px;
border: none;
font-weight: bold;
font-size: large;
margin: 10px 0px;
border-radius: 10px;
cursor: pointer;
}
.card_heading button:hover{
       background-color: lightgreen;
    color: black;
    transform: scale(1.1);
    transition: all 0.5 ease-in-out;
}
.card_container{
    background-color: lightgreen;
      border: 50px;
    border-radius: 50px;
    display: flex;
    margin-top: 100px;

  
}
.card_container p{
    width: 300px;
    margin-left: 70px;
}
.card_container h1{
margin-left: 40px;
margin-top: 30px;
}
.card_container img{
    margin-left: 60px;
    border: 20px;
    border-radius: 20px;
    margin-top: 30px;
justify-content: space-between;
}
.card_container button{
       background-color: white;
    color: black;
    padding: 5px 5px;
border: none;
font-weight: bold;
font-size: large;
margin: 10px 0px;
border-radius: 10px;
cursor: pointer;
margin-left: 50px;
}
.card_container button:hover{
          background-color: white;
    color: black;
    transform: scale(1.1);
    transition: all 0.5 ease-in-out;
}
.card_container h4{
margin-left: 150px;
}
.main_footer{
    display: flex;
   margin-top: 50px;
    gap: 150px;
    justify-content: space-between;
    border: 20px;
    border-radius: 20px;
}
.main_footer ul li{
    list-style-type: none;
    margin-top: 10px;
}
.main_footer h4{
    color: green;
}
.main_footer ul li:hover{
  color: lightgreen;
}
.main_footer img{
    margin-top: 15px;
}
.main_footer h5{
    margin-top: 15px;
}
.main_footer select{
    margin-top: 15px;
}
.main_icon{
    gap: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.main_icon h4:hover{
color: lightgreen;
padding: 5px 5px;

}
.icon{
    font-size: x-large;
}